.main-simpson {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #ccc8e3;
}

.main-simpson .card{
    background-color: powderblue;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-simpson .card img{
    width: 60%;
    height: 80%;
}

.main-simpson .card h2{
    
    justify-content: center;
    color:#4f2158;
}


.main-simpson button {
    background-color: #7004AC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media (max-width:768px){
    .main-simpson {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: wheat;
        padding: 3rem;
    }
    .main-simpson .card{
        margin: 2rem;
        background-color: wheat;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .main-simpson button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
}